table, th, tr, td{
	border:1px solid black; 
}
td, th{
	width: 30px;
	height: 30px;
	text-align: center; 
}
.blank{ 
	background-color: black;
	padding-left: 5px;
	padding-right: 5px;
}
.first{
	background-color: #B4FAB1;
	}
.second{
	background-color: #CBCFCA; 
}
.third{
	background-color: #CBCFCA; 
}
.black{
	background-color: black;
	padding-left: 1px;
	padding-right: 1px;
}
.odd-cell{
	background-color: black;
	padding-left: 2px;
	padding-right: 2px;
	color: red;
}
.even-cell{
	padding-left: 2px;
	padding-right: 2px;
	color: red;
}
#thirdtable{
	border: 4px solid #FF0000;
	margin: 2px;
	padding: 10px;

}
#thirdtable img{
	width:150px;
	height:150px;
}
#CalendarTable{
	border:1px solid black;
	
	text-align: center;
}
#CalendarTable tr td{
	width: 5px; 
	height: 5px;
	
}
.PublicHoliday{
	background-color: green;
}
